.Select {
  margin-bottom: 15px;
}

.Select label {
  display: block;
  margin-bottom: 3px;
  padding: 0;
  font-weight: bold;
}

.Select select {
  display: block;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  height: 29px;
  padding: 7px;
  margin: 0 0 5px;
  width: 100%;
  outline: none;
  transition: all .3s ease-in-out;
}
